<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>ゴーヤはうまい！！！！！！！</h1>
    <% require 'pg' %>
    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>
    <% result = connection.exec("SELECT * FROM crops WHERE give_for !='自家消費';") %>
    <% data = [] %>
    <% result.each do |record| %>
      <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>
    <form action="goya.cgi" method="POST">
       <br>下記のボタンを押すと、譲渡先が自家消費ではないゴーヤの情報ページに飛びます<br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya" value="<%= data.join(' ') %>">
      <input type="submit" name="送信" ><br>
    </form>
      <% result_false = connection.exec("SELECT * FROM crops WHERE quality ='false';") %>
    <% data_false = [] %>
    <% result_false.each do |record_false| %>
      <%  data_false<< "ゴーヤの大きさ：#{record_false["weight"]}　売った相手：#{record_false["give_for"]}" %>
    <% end %>
    <form action="goya copy.cgi" method="POST">
       <br>下記のボタンを押すと、品質が良くないゴーヤの情報ページに飛びます<br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
      <input type="text" name="goya_false" value="<%= data_false.join(' ') %>">
      <input type="submit" name="送信" >
    </form>
  </body>
</html>